/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html{
	height:100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height:100%;
	background-color: #b7caed;
	box-sizing: border-box;
	padding: 40px 0px;
	font-family: sans-serif;
}

#sig{
	width:80%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 40px;
}
.copy{
	width:50%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding:20px 0;
}

h1{
	font-size: 26px;
	margin-bottom: 20px;
}

form{
	width: 100%;
}

input[type="text"]{
	box-sizing: border-box;
	height: 40px;
	font-size: 16px;
	border: 1px solid #020202;
	margin-bottom: 20px;
	width: 100%;
	padding:0 20px;
}

button, input[type="submit"]{
	box-sizing: border-box;
	height: 40px;
	font-size: 16px;
	border: 1px solid #fcff55;
	margin-bottom: 20px;
	padding:0 20px;
	border-radius: 20px;
	background-color: #fcff55;
	cursor: pointer;
}